/* COLORS */
$wild-pink: #f76c6c;
$primary: #baa1d5;
$black: #2d2d2d;
$white: #ebebeb;
$light-grey: #d5d5d5;
$interactive: #6210e6;
$tag: rgba(98, 16, 230, 0.2);
$delete-red: #d54646;
$trash-red: hsla(0, 63%, 55%, 0.2);

/* FONTS */
$font: "Heebo", sans-serif;

/* MEDIA-QUERIES */
$tablet: 768px;
$desktop: 1200px;
