<footer class="footer">
    <div class="container">
        <p>
            <a href="https://www.wildcodeschool.com/fr-FR" target="_blank" rel="noopener noreferrer">Wild Code
                School</a>
            project made with ❤️️ by
            <a href="https://github.com/annickFro" target="_blank" rel="noopener noreferrer">Annick FROMAGEAT</a>,
            <a href="https://github.com/JeremyS03" target="_blank" rel="noopener noreferrer">Jérémy SIONNEAU</a> and
            <a href="https://github.com/LudovicLefieux" target="_blank" rel="noopener noreferrer">Ludovic LEFIEUX</a>
        </p>
    </div>
</footer>